@media (max-width: 720px) {
  .add-item-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    padding: 0 4px 8px;
    background: #f8f9fa;
  }

  .list-group {
    margin-bottom: 50px;
  }
}

.todo-finished-item {
  input {
    color: #9a9a9a;
  }
}
